#profile-show
  .container.vh
    - if current_user == user
      = link_to 'Edit', edit_users_profile_path(current_user), class: 'btn btn-warning btn-lg'
    - if user
      .text-center
        = user.photo
        %h1{style: 'text-align:center;'}= user.name 
      - user.badges.each do |b|
        = image_tag 'badges/' + b.name + '.png'

    